<footer class="w-100 bg-light mt-5 d-flex align-items-center justify-content-around">
  <div class="icons">
    <i class="fab fa-twitter"></i>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-facebook-f"></i>
    <i class="fab fa-whatsapp"></i>
  </div>
  <div>
    Portal de Receitas &copy; todos os direitos reservados
  </div>
  <div>
    <p> Desenvolvido por <a href="https://github.com/TainaVilela" target="_blank">Tainá Vilela</a></p>
  </div>
</footer>